{
  "openapi": "3.0.0",
  "info": {
    "title": "Backbone Access Management API",
    "description": "\n- alpha: Currently developed API version. Subject to major changes.\n- beta: A semi-stable early access version. New features can be added. Breaking changes are possible.\n- stable: The API is recommended for use in production.\n\n[Changelog](https://access-management-api.conqore.niceshops.com/v1/docs/changelog.html)\n\nAll data is transferred in UTF-8 encoding.\\\nThe API uses stateless HTTP. No cookies have to be kept.\\\nAuthentication via OAuth2 client credentials flow.\n\n[Access Management API PHP client @Packagist](https://packagist.org/packages/datenkraft/bb-access-management-api-php-client)",
    "version": "v1.beta"
  },
  "servers": [
    {
      "url": "https://access-management-api.conqore.niceshops.com/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/role-identity": {
      "get": {
        "tags": [
          "role-identity"
        ],
        "summary": "Get all role to identity assignments from every microservice",
        "description": "Get all role to identity assignments from every microservice",
        "operationId": "getRoleIdentityCollection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleIdentityCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "role-identity"
        ],
        "summary": "Create one or more role to identity assignments in this resource server",
        "description": "Create one or more role to identity assignments in this resource server",
        "operationId": "postRoleIdentity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/roleIdentityResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleIdentityResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "role-identity"
        ],
        "summary": "Delete a role to identity assignment in target resource server",
        "description": "Delete a role to identity assignment in target resource server",
        "operationId": "deleteRoleIdentity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/roleIdentityResource"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/role": {
      "get": {
        "tags": [
          "role"
        ],
        "summary": "Get all available roles from every microservice",
        "description": "Get all available roles from every microservice",
        "operationId": "getRoleCollectionEndpoint",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getRoleCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/docs": {
      "get": {
        "tags": [
          "docs"
        ],
        "summary": "Get the openapi documentation as json",
        "description": "Get the openapi documentation as json",
        "operationId": "getOpenApi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": []
      }
    },
    "/docs/openapi.{format}": {
      "get": {
        "tags": [
          "docs"
        ],
        "summary": "Get the openapi documentation in the specified format (yaml or json)",
        "description": "Get the openapi documentation in the specified format (yaml or json)",
        "operationId": "getOpenApiInFormat",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Openapi file format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "yaml",
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/docs/changelog.{format}": {
      "get": {
        "tags": [
          "docs"
        ],
        "summary": "Get the changelog in the specified format (Markdown or HTML)",
        "description": "Get the changelog in the specified format (Markdown or HTML)",
        "operationId": "getChangelogInFormat",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Changelog file format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "md",
                "html"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Changelog not found"
          },
          "400": {
            "description": "Invalid format"
          }
        }
      }
    },
    "/auth/role": {
      "get": {
        "tags": [
          "auth-role"
        ],
        "summary": "Get all available roles from this resource server",
        "description": "Get all available roles from this resource server",
        "operationId": "getAuthRoleCollection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRoleCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/role-identity": {
      "get": {
        "tags": [
          "auth-role-identity"
        ],
        "summary": "Get all role to identity assignments from this resource server",
        "description": "Get all role to identity assignments from this resource server",
        "operationId": "getAuthRoleIdentityCollection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRoleIdentityCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "auth-role-identity"
        ],
        "summary": "Create one or more role to identity assignments in this resource server",
        "description": "Create one or more role to identity assignments in this resource server",
        "operationId": "postAuthRoleIdentityCollection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authRoleIdentityCollection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRoleIdentityCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "auth-role-identity"
        ],
        "summary": "Delete one or more role to identity assignments in this resource server",
        "description": "Delete one or more role to identity assignments in this resource server",
        "operationId": "deleteAuthRoleIdentityCollection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authRoleIdentityCollection"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuthAuthorization": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "errorResponse": {
        "properties": {
          "errors": {
            "description": "errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error"
            }
          }
        },
        "type": "object"
      },
      "error": {
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "description": "Code",
            "type": "string"
          },
          "message": {
            "description": "Message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "roleIdentityCollection": {
        "description": "Class RoleIdentityResourceCollection",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/roleIdentityResource"
        }
      },
      "roleIdentityResource": {
        "required": [
          "roleCode",
          "identityId"
        ],
        "properties": {
          "roleCode": {
            "description": "Role Code",
            "type": "string"
          },
          "identityId": {
            "description": "Identity ID",
            "type": "string"
          }
        },
        "type": "object"
      },
      "roleResource": {
        "required": [
          "roleCode",
          "name"
        ],
        "properties": {
          "roleCode": {
            "description": "Role Code",
            "type": "string"
          },
          "name": {
            "description": "Name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "getRoleCollectionResponse": {
        "description": "Class RoleResourceCollection",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/roleResource"
        }
      },
      "authRoleIdentityCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/authRoleIdentityResource"
        }
      },
      "authRoleIdentityResource": {
        "required": [
          "roleCode",
          "identityId"
        ],
        "properties": {
          "roleCode": {
            "description": "Role Code",
            "type": "string"
          },
          "identityId": {
            "description": "Identity ID",
            "type": "string"
          }
        },
        "type": "object"
      },
      "authPermissionResource": {
        "required": [
          "permissionCode",
          "name"
        ],
        "properties": {
          "permissionCode": {
            "description": "Permission Code",
            "type": "string"
          },
          "name": {
            "description": "Name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "getAuthPermissionCollectionResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/authPermissionResource"
        }
      },
      "authRoleResource": {
        "required": [
          "roleCode",
          "name"
        ],
        "properties": {
          "roleCode": {
            "description": "Role Code",
            "type": "string"
          },
          "name": {
            "description": "Name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "authRoleCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/authRoleResource"
        }
      },
      "collection": {
        "title": "collection",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/collectionPagination"
          },
          "data": {
            "description": "",
            "type": "object"
          }
        },
        "type": "object"
      },
      "collectionPagination": {
        "title": "collectionPagination",
        "properties": {
          "page": {
            "description": "The page contained in this collection.",
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "description": "The page size used for reading the collection.",
            "type": "integer",
            "format": "int32"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "oAuthAuthorization": {
        "type": "oauth2",
        "description": "OAuth2 Authorization",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://authentication-api.conqore.niceshops.com/oauth/token",
            "refreshUrl": "UNDEFINED",
            "scopes": {}
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "description": "Bearer Token Authorization",
        "bearerFormat": "JWT",
        "scheme": "bearer"
      }
    }
  }
}